:root {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Definitions */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

%hyperlink {
  @apply transition-all duration-200 ease-out;
  @apply no-underline;

  &:not(.quiet) {
    @apply text-primary-400 hover:text-primary-200;
    &:hover {
      filter: drop-shadow(0 0 2px currentColor);
      @apply decoration-2;
    }
  }
}
%hyperlink-primary-underline {
  @extend %hyperlink;
  @apply px-1 !text-white;
  @apply underline decoration-solid decoration-primary-400 underline-offset-4 decoration-1;
}
%hyperlink-accent-underline {
  @extend %hyperlink;
  @apply px-1 !text-white;
  @apply underline decoration-solid decoration-accent-400 underline-offset-4 decoration-1;
}

%em {
  @apply text-white;
  @apply px-1;
}

%strong {
  @apply text-white font-bold;
  @apply px-1;
}

/* Tailwind layers */
@layer base {
  html,
  body {
    font-size: 16px;
    @apply bg-gray-800;
    @apply text-gray-200;
    /* @apply overflow-x-hidden; */
  }

  .page-content {
    @apply container mx-auto px-4 sm:px-2;
  }
  :--heading {
    @apply text-gray-50;
  }
  h1 {
    @apply text-4xl font-extrabold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-base font-semibold;
  }
  em {
    @extend %em;
  }
  strong {
    @extend %strong;
  }
  a {
    @extend %hyperlink;
  }
  *[is='icon'],
  .icon {
    @apply inline-block;
  }
}

@layer components {
  .glass {
    @apply backdrop-blur-md;
    @apply bg-gray-800 bg-opacity-70;
  }
  .article {
    @apply leading-normal;
  }

  .card {
    @apply bg-gray-700;
    @apply p-4 rounded-md;
    @apply flex flex-col items-stretch;
    @apply transition-all duration-300 ease-out;
    @apply overflow-hidden;

    .card-header {
      @apply relative overflow-hidden;
      @apply mb-2;
    }

    .card-cover-image {
      @apply absolute inset-0 object-cover;
      @apply -z-10;
      @apply bg-gray-900 bg-opacity-90;
      @apply m-0 w-full;
      @apply transition-all duration-300 ease-out;
    }

    &.interact {
      @apply transform;
      &:hover {
        @apply shadow-xl shadow-gray-900/30;
        @apply rounded-sm;
        @apply brightness-110;
        @apply ring-1 ring-gray-900;
        color: inherit;
        text-shadow: none;

        & .card-cover-image {
          @apply scale-110 brightness-50 saturate-50;
        }
      }
      .opener {
        .opener-overlay {
          @apply transition-all duration-300 ease-out;
          @apply opacity-0;
        }
        &:hover .opener-overlay {
          @apply opacity-90;
        }
      }
    }
  }

  .hero {
    @apply h-30vh;
  }

  .breadcrumbs {
    @apply flex flex-wrap gap-2 items-center;
  }
  .prose {
    min-width: 0;
    max-width: 100ch;
    color: unset;
    @apply text-gray-200;

    :--heading {
      @apply text-gray-50;
    }

    a:not(.anchor) {
      color: unset;
      @extend %hyperlink-accent-underline;
    }

    a.anchor {
      @apply text-gray-400;
      @apply opacity-30;
      @apply -mt-24 pt-24;
      @apply no-underline;
      &:hover {
        @apply opacity-60;
      }
    }

    strong {
      @apply text-white;
      @extend %strong;
    }
    blockquote {
      @apply bg-gray-600 bg-opacity-70;
      @apply text-gray-200;
      @apply border-yellow-500;
      @apply py-1 px-1 sm:px-3;
      & > p {
        @apply my-2;
      }
    }
    code {
      @apply text-yellow-300 text-base;
      @apply bg-black bg-opacity-10;
      @apply rounded-sm;
      @apply mx-1;
      &::before,
      &::after {
        display: none;
      }
    }

    pre {
      @apply relative;
      background: unset;
      color: unset;
      & > code {
        background: unset;
        color: unset;
        @apply m-0;
      }
    }

    ol > li,
    ul > li {
      &::before {
        @apply text-gray-400 text-opacity-60 font-bold;
      }
    }
  }

  .code-block {
    @apply relative;
    & > pre {
      @apply pt-8 pb-6;
      @apply border-gray-600 border-solid border-2;
    }
    .lang-hint {
      @apply absolute top-0 right-0 px-2 py-1 rounded-bl-md;
      @apply text-xs;
    }
  }
}

@layer utilities {
  .spacer {
    @apply flex-1;
  }

  footer,
  nav {
    a {
      @extend %hyperlink-accent-underline;
    }
  }
}
