:root {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Definitions */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
%hyperlink {
  @apply text-hi-link no-underline hover:text-hi-link-bright;
  @apply transition-all duration-200 ease-in-out;
  &:hover {
    text-shadow: theme(colors.hi.link) 0 0 0.5em;
  }
}

/* Tailwind layers */
@layer base {
  html,
  body {
    font-size: 16px;
    @apply bg-dark-800;
    @apply text-light-100;
    @apply overflow-x-hidden;
  }

  .page-content {
    @apply container mx-auto px-4 sm:px-2;
  }
  :--heading {
    @apply text-light-50;
  }
  h1 {
    @apply text-4xl font-extrabold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-base font-semibold;
  }
  em {
    @apply text-hi-primary not-italic font-semibold;
    @apply px-1;
  }
  a {
    @extend %hyperlink;
  }
}

@layer components {
  .prose {
    @apply text-light-100;
    & :--heading {
      @apply text-light-50;
    }

    & a {
      @extend %hyperlink;
    }
  }
}

@layer utilities {
}
