:root {
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Definitions */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
%hyperlink {
  @apply transition-all duration-200 ease-out;
  @apply no-underline;

  &:not(.quiet) {
    @apply text-hi-link hover:text-hi-link-bright;
    &:hover {
      filter: drop-shadow(0 0 0.25em currentColor);
    }
  }
}

/* Tailwind layers */
@layer base {
  html,
  body {
    font-size: 16px;
    @apply bg-dark-800;
    @apply text-light-100;
    /* @apply overflow-x-hidden; */
  }

  .page-content {
    @apply container mx-auto px-4 sm:px-2;
  }
  :--heading {
    @apply text-light-50;
  }
  h1 {
    @apply text-4xl font-extrabold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-semibold;
  }
  h5 {
    @apply text-lg font-semibold;
  }
  h6 {
    @apply text-base font-semibold;
  }
  em {
    @apply text-hi-primary not-italic font-semibold;
    @apply px-1;
  }
  a {
    @extend %hyperlink;
  }
  *[is='icon'],
  .icon {
    @apply inline-block;
  }
}

@layer components {
  .glass {
    @apply backdrop-filter backdrop-blur-md;
    @apply bg-dark-800 bg-opacity-70;
  }
  .prose {
    color: unset;
    @apply text-light-100;
    & :--heading {
      @apply text-light-50;
    }

    & a {
      color: unset;
      @extend %hyperlink;
    }
  }

  .card {
    @apply bg-dark-700;
    @apply p-4 rounded-md;
    @apply flex flex-col items-stretch;
    @apply transition-all duration-300 ease-out;
    @apply overflow-hidden;

    & .card-header {
      @apply relative overflow-hidden;
    }

    & .card-cover-image {
      @apply absolute inset-0 object-cover;
      @apply -z-10;
      @apply bg-dark-900 bg-opacity-90;
      @apply m-0 w-full;
      @apply transform transition-all duration-300 ease-out;
    }
    &.interact {
      @apply transform;
      &:hover {
        @apply shadow-md;
        @apply rounded-sm;
        @apply brightness-110;
        @apply ring-1 ring-dark-900;
        color: inherit;
        text-shadow: none;

        & .card-cover-image {
          @apply scale-110 brightness-50 saturate-50;
        }
      }
      & .opener {
        & .opener-overlay {
          @apply transition-all duration-300 ease-out;
          @apply opacity-0;
        }
        &:hover .opener-overlay {
          @apply opacity-90;
        }
      }
    }
  }

  .hero {
    @apply h-30vh;
  }
}

@layer utilities {
  .spacer {
    @apply flex-1;
  }
}
